<div class="row-fluid">
	<div class="tabbable tabs-left span10 offset1 well overlay"> <!-- Only required for left/right tabs -->
		<ul class="nav nav-tabs nav-stacked">
			<li class="active"><%= link_to 'Welcome', '#welcome', 'data-toggle' => 'tab' %></li>
			<li><%= link_to 'About IIT Mandi', '#about_iit_mandi', 'data-toggle' => 'tab' %></li>
			<% if user_signed_in? %>
			<li><%= link_to 'Profile', '#profile', 'data-toggle' => 'tab' %></li>
			<li><%= link_to 'Notifications', '#notifications', 'data-toggle' => 'tab' %></li>
			<% end %>			
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="welcome">
				<p>Welcome To Exodia.</p>
			</div>
			<div class="tab-pane" id="about_iit_mandi">
				<p>About IIT Mandi</p>
			</div>
			<% if user_signed_in? %>
			<div class="tab-pane" id="profile">
				<div class="row-fluid">
				  <table class="table table-bordered">
				    <caption>Your Profile</caption>
				    <thead></thead>
				    <tbody>
				      <tr>
				        <td>Name</td>
				        <td><%= current_user.name %></td>
				      </tr>
				      <tr>
				        <td>School</td>
				        <td><%= current_user.school %></td>
				      </tr>
				      <tr>
				        <td>Birth Date</td>
				        <td><%= current_user.birthdate %></td>
				      </tr>
				      <tr>
				        <td>Phone</td>
				        <td><%= current_user.phone %></td>
				      </tr>
				      <tr>
				        <td>Email</td>
				        <td><%= current_user.email %></td>
				      </tr>
				    </tbody>
				  </table>
				</div>
				<div class="row-fluid">
				  <%= link_to "Edit Profile", edit_user_registration_path, :class => 'btn btn-action' %>
				</div>
			</div>
			<div class="tab-pane" id="notifications">
				<p>
					<% if @notifications.empty? %>
						No notifications to display.
					<% else %>
						<%= @notifications.to_yaml %>
					<% end %>
				<p>
			</div>
			<% end %>			
		</div>
	</div>
</div>
