<div id="add_new_event" class="row-fluid">
  <div class="well overlay">
    <%= link_to "Add Event", new_event_path, :class => 'btn btn-info' %>
  </div>
</div>
<div id="all_events" class="row-fluid">
  <table id="events_table" class="table table-bordered table-striped table-condensed">
    <caption>All Events</caption>
    <thead>
      <tr>
        <th>Name</th>
        <th>Start</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |e| %>
      <tr>
        <td><%= link_to e.name, e %></td>
        <td><%= e.start %></td>
        <td><%= link_to "Edit", edit_event_path(e), :class => 'btn btn-inverse' %>
        <%= link_to "Delete", event_path(e), :class => 'btn btn-danger', :method => :delete %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
