<div class="row-fluid">
  <div id="reset_password" class="span4 offset2 well overlay">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
      <%= f.password_field :password, :autocomplete => "off" %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>

      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
      <%= f.password_field :current_password %>

      <div><%= f.submit "Update", :class => 'btn btn-action' %></div>
    <% end %>
  </div>
  <div id="cancel_account" class="span3 well overlay">
    <h3>Cancel my account</h3>

    <p>Unhappy with our services? Goodbyes can be hard.</p>
    <p><%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete, :class => 'btn btn-danger' %>
    <%= link_to "Go Back", :back, :class => 'btn btn-success' %></p>
  </div>
</div>
